
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #f8f8f8;
  direction: rtl;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --color-primary: #ff4f4f;
  --color-secondary: #2c2c2c;
  --color-light: #f8f8f8;
  --color-gray: #6d6d6d;
  --color-success: #4caf50;
  --color-warning: #ff9800;
  --color-danger: #f44336;
}
